name: rest-utils
lang: unknown
lang_version: unknown
codeowners:
  enable: true
semaphore:
  enable: true
  pipeline_type: cp
  pr_ci_gating:
    enable: true
    project_name: rest-utils
  status_level: block
  nano_version: true
  pr_ci_gating:
    enable: true
    project_name: rest-utils
  status_level: block
  branches:
    - master
    - main
    - /^\d+\.\d+\.x$/
    - /^gh-readonly-queue.*/
    - /^cc-sr-v0\..+/ # cc-sr-v0.2.414.x-7.7.2.62-0
  downstream_projects: ["schema-registry", "metadata-service", "kafka-rest", "confluent-security-plugins", "ce-kafka-http-server", "secret-registry", "confluent-cloud-plugins", "kafka-streams-examples"]
git:
  enable: true
code_artifact:
  enable: true
  package_paths:
    - maven-snapshots/maven/io.confluent/rest-utils-package
    - maven-snapshots/maven/io.confluent/rest-utils-examples
    - maven-snapshots/maven/io.confluent/rest-utils-test
    - maven-snapshots/maven/io.confluent/rest-utils
    - maven-snapshots/maven/io.confluent/rest-utils-parent
    - maven-snapshots/maven/io.confluent/rest-utils-fips-tests
