name: rest-utils
lang: unknown
codeowners:
  enable: true
semaphore:
  enable: true
  pipeline_type: cp
  downstream_projects: ["schema-registry", "metadata-service", "kafka-rest",
    "confluent-security-plugins", "ce-kafka-http-server", "secret-registry",
    "confluent-cloud-plugins"]
git:
  enable: true
