Source: confluent-rest-utils
Section: misc
Priority: optional
Maintainer: Confluent Packaging <packages@confluent.io>
Build-Depends: debhelper (>= 9), javahelper (>= 0.40),
 make, maven
Standards-Version: 3.9.3
Homepage: http://confluent.io

Package: confluent-rest-utils
Architecture: all
Depends: confluent-common (= ##VERSION##)
Description: Confluent utilities for writing Java REST APIs
 Confluent REST Utils provides a small framework and utilities for writing Java
 REST APIs using Jersey, Jackson, Jetty, and Hibernate Validator.
